#output_buffer_container {
    width:100%;
    height:100%;
    overflow:auto;
}

#output_buffer {
  font-family:monospace;
  margin-bottom:20px;
}

#command_line {
    width:95%;
    font-family:monospace;
    position:absolute;
    left:0px;
    bottom:0px;
}